body {
  background-image: url("../images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.icon {
  box-shadow: 2px 2px;
  position: relative;
}

.charactertxt {
  font-size: 1.3em;
  font-family: "Slackey", cursive;
  color: #224882;
  /*border: 3px solid black;*/
  /*box-shadow: 2px 2px black;*/
  border-radius: 5px;
  text-align: center;
}

.charachter1,
.charachter2 {
  height: 280px;
  border-radius: 40%;
  /*opacity: 0.7;*/
}

.ball {
  padding-left: 110px;
  padding-right: 110px;
  margin-right: 160px;
}

.bar1,
.bar2 {
  border-style: ridge;
  border-width: 4px;
  border-color: #2b63b5;
  color: #2b63b5;
  height: 35px;
  width: 100px;
  padding: 0px;
  border-radius: 4%;
}

.energyLife1,
.energyLife2 {
  padding: 0px;
  margin: 0px;
  height: 25px;
}
